@import "tailwindcss";

html {
  scrollbar-gutter: stable;
}

@theme {
  --color-brand: #FB5C06;
  --color-brand-dark: #E04E00;
  --color-surface: #161616;

  --font-family-syne: var(--font-syne);
  --font-family-inter: var(--font-inter);
  --font-family-mono: var(--font-space-mono);

   --breakpoint-xs: 475px;
}



:root {
  --bg: #0C0C0C;
  --border: rgba(255, 255, 255, 0.08);
  --muted: rgba(255, 255, 255, 0.4);
}

body {
  background: #0C0C0C;
  color: #fff;
  font-family: var(--font-inter);
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4 {
  font-family: var(--font-syne);
}